body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #bea1a4;
    margin: 5px;
    padding: 5px;
}

.header {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: rgb(63, 59, 59);
}

.container {
    display: flex;
    /* 子要素を縦方向中央揃え */
    flex-direction: column;
}

.image_container {
    display: flex;

    position: relative;
    /* Flexbox を使用して子要素を横並びにする */
    flex-direction: row;
    /* 子要素を縦方向中央揃え */
}

.image_container .image img {
    width: 100px;
    /* 画像の幅を適宜調整 */
    position: relative;
    height: auto;
    /* 画像と吹き出しの間にスペースを追加 */
    margin-right: 10px;
    margin-left: 10px;
}

.image_container #question_list {
    margin-left: 10px;
    min-width: 110px;
    color: rgb(63, 59, 59);
    font-size: small;
}

.image_container #selections {
    max-width: 100px;
    width: auto;
    margin-right: 0px;
    font-weight: bold;
    /* 文字をボールド（太字）にする */
    white-space: nowrap;
    /* テキストを折り返さない */
    overflow: hidden;
    /* 溢れた部分を隠す */
    text-overflow: ellipsis;
    /* 溢れた部分を省略記号にする */
    color: rgb(56, 54, 54);
    font-size: small;
}

.speech-bubble {
    position: relative;
    display: inline-block;
    background: #e8bec6;
    height: auto;
    color: rgb(56, 54, 54);
    border-radius: 10px;
    padding: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-left: 5px;
    /* speech-bubble のみ左寄せ */
    align-items: start;
}

.speech-bubble::after {
    content: '';
    position: absolute;
    top: 30%;
    left: -20px;
    /* 矢印を左寄せ */
    border-width: 10px;
    border-style: solid;
    border-color: transparent #e8bec6 transparent transparent;
}

.qa_container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

#options {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 5px;
    max-width: 600px;
    width: auto;
}

#options button {
    margin: 5px;
    padding: 10px 10px;
    border: none;
    background-color: transparent;
    border: 2px solid #ad82ae;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.option-button.selected {
    border: 2px solid transparent !important;
    background-color: #782a8b !important;
    color: rgb(230, 224, 224) !important;
}

#questionContainer {
    /* margin-top: 20px; */
    width: 100%;
}

#question {
    font-size: 0.9em;
}


/* スライダーコンテナのスタイル */
#slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    /* 画面の高さを占有 */
    text-align: center;
}

/* スライダーのスタイル */
#income-slider {
    /* Webkitベースブラウザ (Chrome, Safari) */
    -webkit-appearance: none;
    /* Firefox用 */
    -moz-appearance: none;
    /* 他のブラウザ用のデフォルトスタイル */
    appearance: none;
    width: 80%;
    /* スライダーの長さを調整 */
    height: 10px;
    background: #782a8b;
    outline-width: 5px;
    border: 2px solid #ad82ae;
    opacity: 0.7;
    transition: opacity .5s;
    border-radius: 10px;
}

#income-slider:hover {
    opacity: 2.0;
}

/* スライダーのサム（つまみ）のスタイル */
#income-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #ad82ae;
    border: 2px solid #782a8b;
    cursor: pointer;
    border-radius: 50%;
}

#income-slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #b846b8;
    cursor: pointer;
    border-radius: 50%;
}

#income-labels {
    display: flex;
    justify-content: space-between;
    width: 80%;
}

#nextButtonContainer {
    padding-top: 0px;
}

#nextButton {
    padding: 10px;
    width: 100px;
    border: none;
    background-color: #ad82ae;
    color: rgb(63, 59, 59);
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#nextButton:hover {
    background-color: #782a8b;
    color: rgb(230, 224, 224);
}

#options #resultButton {
    border: none;
    background-color: #ad82ae;
    color: rgb(63, 59, 59);
    border-radius: 5px;
    cursor: pointer;
}

#options #resultButton:hover {
    background-color: #782a8b;
    color: rgb(230, 224, 224);
}

#resultsContainer {
    bottom: 0;
    background-color: #e8bec6;
    border-top: 3px solid #83148d;
    padding: 10px;
    box-shadow: 0 -5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#results {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.results-header {
    font-size: 18px;
    color: #83148d;
    margin-bottom: 10px;
}

.results-content {
    background: #e7baba;
    border-radius: 20px;
    padding: 15px;
    width: auto;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.results-content #question_list {
    color: rgb(63, 59, 59);
    font-size: small;
    min-width: 110px;
}

.results-content #selections {
    width: auto;
    max-width: 200px;
    margin-right: 0px;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgb(56, 54, 54);
    font-size: small;
}

/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    /* width: 200px; */
    background-color: #f7d4f2f1;
    color: rgba(83, 81, 81, 0.801);
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    position: absolute;
    z-index: 9999;
    bottom: 105%;
    /* Position the tooltip above the text */
    left: 50%;
    margin-left: -70px;
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 11px;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 10px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

/* スマホ用メディアクエリ */
@media (max-width: 768px) {
    .container {
        padding: 5px;
    }

    .image_container {
        padding: 10px;
    }

    .qa_container {
        padding: 5px;
    }

    .speech-bubble {
        padding: 10px;
    }

    #questionContainer {
        padding: 10px;
    }

    #nextButtonContainer {
        margin-top: 10px;
    }
}